<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arrahmah.app" xmlns:tools="http://schemas.android.com/tools">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application tools:replace="networkSecurityConfig" android:networkSecurityConfig="@xml/network_security_config">
       
    </application>
</manifest>
